.dm_items {
  @apply flex justify-between w-full items-center bg-white mt-2 p-2 hover:shadow-lg rounded cursor-pointer transition;
}

.dm_items_left {
  @apply flex ml-2 w-full;
  align-items: center;
}

.profile_img {
  @apply rounded-full;
  height: 40px;
  width: 40px;
}

.dm_items_left_items {
  @apply flex flex-col ml-2 w-full;
}

.friend_name {
  @apply font-medium text-black;
}

.last_text {
  @apply text-sm text-gray-400 truncate w-32;
}

.dm_items_right {
  @apply flex flex-col items-center;
}

.time {
  @apply text-gray-300;
}
