.tabs_flex {
  @apply w-full flex flex-col justify-center py-10 items-center
}

.update_info_form {
	@apply flex flex-col items-center
}

.update_info_div {
	@apply pb-3 m-0.5 flex items-center w-full
}

.update_info_label {
	@apply block mb-2 text-sm font-semibold text-gray-900 dark:text-white w-14
}

.update_info_input {
	@apply block w-full p-2.5 text-sm rounded-lg w-52 border
	bg-gray-50 border-gray-300 text-gray-900 
	focus:ring-blue-500 focus:border-blue-500 
	dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white
}

.update_info_input_email {
	@apply block w-full p-2.5 text-sm rounded-lg w-32 border
	bg-gray-50 border-gray-300 text-gray-900 
	focus:ring-blue-500 focus:border-blue-500 
	dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white
}

.update_info_input_disabled {
	@apply block w-full p-2.5	text-sm rounded-lg w-52 border border-solid border-gray-300
	bg-gray-100 text-gray-400 bg-clip-padding
}

.update_info_save_div {
	@apply flex justify-center w-1/2 py-9
}

.update_info_save {
	/* @apply flex justify-center w-60 text-sm rounded-lg py-1 px-5 m-1 text-center text-white bg-blue-700	hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 */
	@apply w-full text-sm text-white bg-blue-600 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg px-5 py-2.5 m-1 text-center

}

.update_info_nickname_button_div {
	@apply flex justify-center px-8 py-2 mx-4 
	text-sm text-white bg-gray-400 hover:bg-gray-500 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg text-center

}