.study_room_wrapper_flex {
  @apply flex flex-row;
  overflow: hidden;
}

.side_bar_wrapper_flex {
  @apply flex flex-row;
  align-items: center;
}

.side_bar_content {
  @apply basis-11/12;
  @apply h-full;
}

.flex_1_12 {
  @apply basis-1/12;
}

.rotate_180 {
  transform: rotate(180deg);
}

.move_side_bar_to_default {
  transition: transform 0.2s linear;
  transform: translate(0px, 0px);
}

.move_side_bar_to_left {
  transition: transform 0.2s linear;
  transform: translate(92%, 0px);
}

.move_side_bar_to_right {
  transition: transform 0.2s linear;
  transform: translate(-92%, 0px);
}

.left_side_bar_wrapper {
  @apply basis-1/4;
}

.right_side_bar_wrapper {
  @apply basis-1/4;
  align-items: center;
}
