.article_container_above {
  @apply flex flex-col h-full items-center;
  font-family: "Pretendard";
  height: 100%;

  /* @apply  bg-gradient-to-b from-black via-slate-800 to-orange-300  */
  @apply text-white justify-center;

  display: flex;
  align-items: center;
  background: #50a3a2;
  background: -webkit-linear-gradient(top, #00145c 0%, pink 160%);
  background: -moz-linear-gradient(top, #00145c 0%, pink 160%);
  background: -o-linear-gradient(top, #00145c 0%, pink 160%);
  background: linear-gradient(to bottom, #00145c 0%, pink 160%);
  /* position: absolute; */
  left: 0;
  /* height: 100%; */
  width: 100%;
  overflow: hidden;
}
