@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');



.feed_container{
  @apply flex-row h-full pl-14 pr-14;

}

.feed_container_above{
  @apply flex pl-5 pr-5;
  height: 10%
}

.title{
  @apply w-1/2 text-lg p-5;
  font-weight: 900;
  font-size: 2rem;
  font-family: 'Ubuntu', sans-serif;
  color: orange;
}

.feed_container_below{
  @apply flex w-full px-5 pb-5;
  height: 90%;
}

.feed_list{
  @apply basis-4/12 p-5;
  height: 100%;
  overflow: auto;
}

.feed_viewer{
  @apply basis-8/12 ml-5 p-5;
  height: 100%;
}
