.button_follow {
  opacity: 1;
  outline: 0;
  color: #fff;
  line-height: 40px;
  position: relative;
  text-align: center;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  font-family: "Open Sans";
}
/* .button_follow:hover:after {
  opacity: 1;
  transform: translateY(0) rotateX(0);
}
.button_follow:hover:before {
  opacity: 0;
  transform: translateY(50%) rotateX(90deg);
} */
.button_follow:after {
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  color: #adadaf;
  display: block;
  transition: 0.5s;
  position: absolute;
  background: #323237;
  content: attr(data-unfollow);
  transform: translateY(-50%) rotateX(90deg);
}
.button_follow:before {
  top: 0;
  left: 0;
  opacity: 1;
  color: #323237;
  display: block;
  padding: 0 30px;
  line-height: 40px;
  transition: 0.5s;
  position: relative;
  background: #adadaf;
  content: attr(data-follow);
  transform: translateY(0) rotateX(0);
}




/* 언팔하기 */

.button_unfollow {
  opacity: 1;
  outline: 0;
  color: #fff;
  line-height: 40px;
  position: relative;
  text-align: center;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  font-family: "Open Sans";
}
/* .button_unfollow:hover:after {
  opacity: 0;
  transform: translateY(-50%) rotateX(90deg);
}
.button_unfollow:hover:before {
  opacity: 1;
  transform: translateY(0) rotateX(0);
} */
.button_unfollow:after {
  top: 0;
  left: 0;
  opacity: 1;
  color: #adadaf;
  display: block;
  padding: 0 30px;
  line-height: 40px;
  transition: 0.5s;
  position: relative;
  background: #323237;
  content: attr(data-unfollow);
  transform: translateY(0) rotateX(0);
}
.button_unfollow:before {
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  color: #323237;
  display: block;
  transition: 0.5s;
  position: absolute;
  background: #adadaf;
  content: attr(data-follow);
  transform: translateY(50%) rotateX(90deg);
}