.menu-bar {
	position: relative;
	border-radius: 25px;
	height: fit-content;
	display: flex;
	background-color: rgba(0, 0, 0, .4);
	-webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
	justify-content: center;
	align-items: center;
	padding: 0 10px;
	margin: 0 50px 0 50px; //Top left bottom right 순서
	li {
		list-style: none;
		color: white;
		font-family: sans-serif;
		font-weight: bold;
		padding: 12px 16px;
		margin: 0 8px;
		position: relative;
		cursor: pointer;
		white-space: nowrap;
		&::before {
			content: " ";
			position: absolute;
			top: 0;
			left:0;
			height:100%;
			width: 100%;
			z-index:-1;
			transition: .2s;
			border-radius: 25px;
		}
			&:hover {
				&::before {
					background: linear-gradient(to bottom, #e8edec, #d2d1d3);
						box-shadow: 0px 3px 20px 0px black;
						transform: scale(1.2);
				}
				color: black;
		}
	}
}