.overflox_container {
  overflow: auto;
}

.overflox_container::-webkit-scrollbar {
  width: 10px;
}
.overflox_container::-webkit-scrollbar-thumb {
  background-color: #2f3542;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
.overflox_container::-webkit-scrollbar-track {
  background-color: grey;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}