.editor {
  @apply basis-8/12 ml-5;
  min-width: 840px;
}

.article_list {
  @apply basis-4/12 p-2;
  overflow: auto;
  min-width: 300px;
}

.article_container_below {
  @apply flex w-full;
  height: 100%;
}

.flex_row_div_edit {
  @apply flex items-center gap-5 justify-between w-10/12 h-5/6;
}
