.my_color {
  color: aqua;
}

.my_size {
  font-size:x-large;
}

.article_item {
  @apply mt-2 mb-2 p-3 rounded-lg flex text-black font-medium gap-3 flex;
}

.article_item_active {
  @apply flex flex
}


.editor{
  @apply basis-8/12 ml-5;
  min-width: 840px;
}
