.title {
  @apply font-bold text-2xl;
}

.buttons {
  @apply flex justify-end gap-5;
}

.flex_row_div {
  @apply flex items-center gap-5 justify-between pt-8 pb-4 w-10/12;
}

.flex_row {
  @apply flex items-center gap-5 justify-between;
}

.page_title {
  @apply font-bold text-2xl;
}

.room_add_button {
  @apply rounded-lg py-1 px-8 w-fit;
  @apply text-white dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center;
  background-color: #3b82f6;
}

.add_room_div {
  @apply flex items-center justify-between;
}

.add_room_input {
  @apply block w-full p-2.5 text-sm rounded-lg border
	bg-gray-50 border-gray-300 text-gray-900 
	focus:ring-blue-500 focus:border-blue-500 
	dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white;
}

.button_next {
  @apply text-white !bg-[#24292F] hover:bg-[#24292F]/90 rounded-xl text-sm px-5 py-2.5 text-center inline-flex items-center dark:hover:bg-[#050708]/30;
}

.confetti_text {
  @apply text-2xl font-semibold;
}
.confetti_text2 {
  @apply font-semibold text-center;
}
